*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# API Keys & Secrets
app/src/main/res/values/google_maps_api.xml
google-services.json

# APK/AAB outputs
*.apk
*.aab

# Signing
*.jks
*.keystore