<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISSIONS -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- HARDWARE FEATURES -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />


    <!-- APPLICATION -->

    <application
        android:name=".MyApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="OrientAR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrientAR"
        tools:targetApi="31">


        <!-- META-DATA  -->
        <!-- ARCore -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />

        <!-- ARCore Geospatial API Key -->
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="@string/arcore_api_key" />

        <!-- Google Maps SDK Key (for AR Navigation map view) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <!-- AUTH ACTIVITIES -->

        <activity
            android:name=".auth.WelcomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.StudentLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".auth.LeaderLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- HOME  -->

        <activity
            android:name=".home.MainActivity"
            android:exported="false"
            android:label="METU NCC Orientation" />


        <!-- TREASURE HUNT  -->

        <activity
            android:name=".treasure.ScoreboardActivity"
            android:exported="false"
            android:label="Scoreboard" />

        <activity
            android:name=".treasure.TreasureHuntGameActivity"
            android:exported="false"
            android:label="Treasure Hunt Game" />

        <activity
            android:name=".treasure.LeaderboardActivity"
            android:exported="false"
            android:label="Leaderboard" />


        <!-- CHATBOT -->

        <activity
            android:name=".chatbot.ChatbotActivity"
            android:exported="false"
            android:label="Chatbot" />


        <!-- ANNOUNCEMENTS  -->
        <activity
            android:name=".announcements.AnnouncementsActivity"
            android:exported="false"
            android:label="Announcements" />


        <!-- SOCIETIES -->

        <activity
            android:name=".societies.SocietiesActivity"
            android:exported="false"
            android:label="Student Societies" />

        <activity
            android:name=".societies.SocietyDetailActivity"
            android:exported="false"
            android:label="Society Detail" />


        <!-- AR NAVIGATION (integrated from Navigation module) -->

        <activity
            android:name=".navigation.CampusTourActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="Campus Tour" />

        <activity
            android:name=".navigation.ArNavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- PROVIDERS -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>